<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=student_details[0].first_name%> <%=student_details[0].last_name%> Result</title>
    <link rel="stylesheet" href="/task5Views/styles.css" />
  </head>
  <body>
    <table style="margin: 0 auto; margin-top: 50px;">
      <thead>
        <tr>
          <td colspan="8" style="font-size: 25px; font-weight: bolder;">
            Result
          </td>
        </tr>
        <tr style="width: 220vh;">
          <td colspan="8">
          <h2 class="student_name"><%=student_details[0].first_name%> <%=student_details[0].last_name%></h2>
          <p class="student_attendance">Attendance Percentage - <%=student_details[0].attendance%>%</p></td>
        </td>
        </tr>
        <tr>
          <th rowspan="2">Subject Name</th>
          <th colspan="2">Terminal</th>
          <th colspan="2">Prelim</th>
          <th colspan="2">Final</th>
          <th rowspan="2">Total</th>
        </tr>
        <tr>
          <th>Practical</th>
          <th>Theory</th>
          <th>Practical</th>
          <th>Theory</th>
          <th>Practical</th>
          <th>Theory</th>
        </tr>
        <tbody>
            <% for(let i=0; i<6; i++) {%>
              <tr>
                <td><%=subject_result[i*3+1].subject_name%></td>
                <td><%=subject_result[i*3].practical%></td>
                <td><%=subject_result[i*3].theory%></td>
                <td><%=subject_result[i*3+1].practical%></td>
                <td><%=subject_result[i*3+1].theory%></td>
                <td><%=subject_result[i*3+2].practical%></td>
                <td><%=subject_result[i*3+2].theory%></td>
                <th><%=subject_result[i*3].practical +subject_result[i*3].theory+subject_result[i*3+1].practical+subject_result[i*3+1].theory+subject_result[i*3+2].practical+subject_result[i*3+2].theory %></th>
              </tr>
            <%}%>
        </tbody>
      </thead>
    </table>
  </body>
</html>
