<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
    <link rel="stylesheet" href="/task8Views/styles.css" />
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Designation</th>
          <th>City</th>
          <th>State</th>
          <th>Email ID</th>
          <th>Contact Number</th>
          <th>Gender</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% usersData.forEach((element)=>{%>
        <tr>
          <td><%=element.first_name%></td>
          <td><%=element.last_name%></td>
          <td><%=element.designation%></td>
          <td><%=element.city%></td>
          <td><%=element.state%></td>
          <td><%=element.email_id%></td>
          <td><%=element.contact_no%></td>
          <td><%=element.gender%></td>
          <td>
            <a href="/task8/form/<%=element.application_id%>"
              ><span class="view-details">Update Details</span></a
            >
          </td>
        </tr>
        <%})%>
      </tbody>
    </table>
    <p class="add-user-button" onclick="openForm()">Add User</p>
    <script>
      const openForm = () => {
        window.location.href = "/task8/form";
      };
    </script>
  </body>
</html>
